.product-hero-sec {
  float: left;
  width: 100%;
  padding: 120px 0 70px 0;
  background: url("../../public/assets/images/client/roof-water-proofing-banner.jpg")
    no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.product-hero-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 0 15px;
  position: relative;
}

.product-hero-sec .product-hero-banner-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.product-hero-sec .product-hero-banner-inner .product-hero-sub-title {
  font-family: "Inter", sans-serif !important;
  font-size: 22px;
  line-height: 32px;
  color: #f5d0c5;
  text-transform: uppercase;
  position: relative;
}

.product-hero-sec .product-hero-banner-inner .product-hero-sub-title::after {
  content: "";
  display: block;
  margin: 18px 0 25px;
  width: 100px;
  height: 2px;
  background-color: #dff3e4;
}

.product-hero-sec .product-hero-banner-inner .product-hero-main-title {
  font-size: 58px;
  line-height: 62px;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.product-hero-sec .product-hero-banner-inner .dec {
  font-family: "Inter", sans-serif !important;
  font-size: 20px;
  line-height: 28px;
  color: #e9eef3;
  text-transform: capitalize;
  position: relative;
  max-width: 1100px;
}

/* Product style */

.product-sec {
  float: left;
  width: 100%;
  padding: 120px 0 70px 0;
}

.product-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding: 0 15px;
  position: relative;
}

.product-sec .product-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.product-card {
  padding: 20px;
  border-radius: 6px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 10px 40px 0px rgba(7, 24, 50, 0.07);
  width: 353.586px;
  height: auto;
  margin: 0 auto;
}

.product-card .product-content h4 {
  font-size: 15px;
  font-family: "Inter", sans-serif !important;
  line-height: 42px;
  font-weight: 400;
  color: #07070a;
}

.product-card .product-content h4::after {
  content: "";
  display: block;
  margin: 1px 0 20px;
  width: 50px;
  height: 2px;
  background-color: #1386d3;
}

.product-card .product-content h2 {
  color: var(--02, #07070a);
  font-family: "Montserrat", sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 140% */
  text-transform: capitalize;
}

.product-card .product-content p {
  color: var(--03, #5a5e62);
  text-align: justify;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 6px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
}

.product-card .product-content a {
  color: #1386d3;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: underline;
}
.product-card .product-content a span {
  margin-left: 5px;
}
/* Responsive Desing */

@media (max-width: 1199.98px) {
  .product-hero-sec {
    padding: 60px 0 60px 0;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-sub-title {
    font-size: 20px;
    line-height: 28px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-main-title {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-desc {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .product-hero-sec {
    padding: 40px 0 40px 0;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-sub-title {
    font-size: 18px;
    line-height: 26px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-main-title {
    font-size: 36px;
    line-height: 42px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-desc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767.98px) {
  .product-hero-sec {
    padding: 20px 0 40px 0;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-sub-title {
    font-size: 16px;
    line-height: 20px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-main-title {
    font-size: 24px;
    line-height: 30px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .product-sec .product-container .product-inner {
    padding: 0 20px 0 20px;
  }
  .product-sec {
    padding: 70px 0 70px 0;
  }
}

@media (max-width: 576px) {
  .product-hero-sec .product-hero-banner-inner .product-hero-main-title {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px 0;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-sub-title::after {
    margin: 16px 0 18px;
  }
  .product-hero-sec .product-hero-banner-inner .product-hero-desc {
    font-size: 13px;
  }
  .product-sec .product-container .product-inner {
    padding: 0 20px 0 20px;
  }
  .product-sec {
    padding: 40px 0 70px 0;
  }
}
